<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Rise of us</title>
  <link href='/static/about.css' rel='stylesheet'>
</head>

<body>
  <div class='content'>
    <img src='https://img.lovepik.com/free-png/20210928/lovepik-stick-figure-smoking-man-png-image_401698735_wh1200.png' class='writer-img' alt="cool_gay">
    <h3 class='byline'>Article By: Laimis Silkaitis</h3>
    <h1>How to Rise</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum arcu et ante laoreet placerat. Fusce cursus sollicitudin laoreet. Donec consequat, turpis id auctor bibendum, nunc lectus sodales nisi, eu suscipit arcu felis sit amet tellus. Proin dignissim ante vitae mi viverra convallis. Ut laoreet et enim eget eleifend. Quisque rutrum, eros at finibus imperdiet, ipsum nisl faucibus lorem, a eleifend nisl libero id eros. Maecenas malesuada elementum nunc, sit amet commodo dolor auctor sed. In ornare dapibus bibendum. Suspendisse at sem sit amet mi aliquet rutrum in sit amet elit. Etiam in varius diam. Integer laoreet, eros dignissim sodales gravida, lorem quam tincidunt ipsum, quis scelerisque felis neque vitae leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam massa dolor, vulputate quis maximus sollicitudin, iaculis at augue. Suspendisse diam justo, euismod id sodales ut, tristique non leo.

        Pellentesque luctus blandit tortor in eleifend. Phasellus non turpis eget felis pellentesque euismod. Etiam nisl nisl, pulvinar eget pretium quis, lacinia et enim. Nullam sodales auctor est, vel venenatis massa auctor id. Morbi sollicitudin vitae mi ac aliquam. Nunc mi libero, eleifend nec ornare in, egestas fringilla nibh. Suspendisse in scelerisque nulla. Integer iaculis venenatis porttitor. Praesent vitae turpis cursus, mollis tellus vitae, accumsan diam. Quisque eu metus ut enim imperdiet faucibus.

        Aliquam id est tempor, faucibus ante non, faucibus mi. Nulla facilisi. Nunc sed cursus massa, vel ultrices nunc. Cras ante lorem, imperdiet quis commodo eu, accumsan ut risus. Ut lectus nisl, suscipit ac justo eu, tincidunt aliquet velit. Aenean mattis laoreet ipsum, sed tincidunt dui gravida nec. Cras pretium condimentum auctor. Nulla ex turpis, rutrum ut purus ut, convallis mollis erat. Sed rhoncus porta urna, ac consectetur justo blandit id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras vitae quam tortor. Vestibulum suscipit felis eu nibh elementum eleifend. Quisque cursus iaculis semper.

        Donec ligula leo, condimentum vel est et, gravida bibendum lectus. Pellentesque nec condimentum nunc. Mauris felis tellus, auctor vel quam vitae, vehicula rhoncus justo. Nulla facilisi. Integer at arcu et dui ullamcorper porta nec imperdiet sem. Sed id lobortis sapien, ut elementum est. Fusce rutrum, eros id malesuada vehicula, purus tellus rutrum leo, vel faucibus lacus eros porttitor elit. Nulla pellentesque ullamcorper eros eu rhoncus. Pellentesque porttitor nulla enim, ac pharetra tellus egestas nec.

        Curabitur in lacinia augue. Vestibulum arcu elit, blandit eget faucibus nec, sagittis at risus. Nunc ac est convallis, varius sem ac, vulputate elit. Cras vel est quam. Ut risus metus, porta eu maximus vitae, pharetra eu tortor. Integer sed volutpat mauris, eu tempus elit. Sed varius, orci vitae porta vestibulum, ex ligula sollicitudin sem, blandit molestie magna lectus id ante. Nullam pulvinar tincidunt lorem vitae auctor. Etiam sapien orci, sollicitudin a eros non, tempor vulputate sem. In at leo nibh. Quisque accumsan nisi sed ultrices sagittis.</h2>
    <div class='image'> </div>
        <p>Want to know more? <a  href="/static/Not_A_Virus.zip" download type="exe"> CLICK HERE</a></p>
</div>
  <script>
    function greet()
    {
      alert('congratulations you have a virus');
    }
    document.addEventListener('click', greet);
  </script>

  <div class="footer">
    <div class="container">
      <p>&copy; Laimis Silkaitis &copy;</p>
    </div>
  </div>
</body>
</html>