{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <form action="/signup" method="post" style="margin-top: 50px">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="email" id="email" name="email" placeholder="Enter email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="first_name " name="first_name " placeholder="Enter the Name" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password1" name="password1" placeholder="Password" type="password">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password2" name="password2" placeholder="Confirm Password" type="password">
        </div>

        <button class="btn btn-primary" type="submit" style="margin-left: 480px">Register</button>
    </form>

    <img src="/static/Balandis2.jpg" class="img-thumbnail" alt="My image" style="width: 400px; height: 400px; margin-left: 325px; margin-top: 100px; margin-bottom: 200px">

{% endblock %}
